CompileFlags:
  CompilationDatabase: build/
  Remove:
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -mlongcalls
    - -fno-shrink-wrap
    - --target=*
    - -march=*
  Add:
    - -DESP_PLATFORM
    - -include
    - /home/tissla/esp-idf/components/esp_system/include/esp_err.h

Diagnostics:
  Suppress:
    - pp_file_not_found
    - implicit-function-declaration
