CompileFlags:
  Remove:
    - -mlongcalls
    - -mtext-section-literals
    - -fno-builtin-memcpy
    - -fno-builtin-memset
    - -fno-builtin-bzero
    - -fno-builtin-stpcpy
    - -fno-builtin-strncpy
    - -fno-shrink-wrap
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
